body
    font 15px / 23px PT Sans, Helvetica, sans-serif
    background #797979

h2
    font-size 24px
    font-weight bold

    margin-top 64px

p
    margin 9px 0 0 0
    color #3d3d3d

a
    color #1f5f97