.profile
    padding 40px 0 80px 0

.profile__cb-area
    columns 3
    margin-top 15px

    @media (max-width: $page-max-width)
        columns 2

    @media (max-width: 600px)
        columns 1

.profile__cb
    page-break-inside avoid
    break-inside avoid-column

.profile__rb-area
    margin-top 15px

.profile__rb
    display inline
    margin-right 15px

    @media (max-width: 760px)
        display block

.profile__created-at
    margin-top 60px