.profile-header
	display flex
	flex-wrap wrap
	justify-content space-between

	@media (max-width: 525px)
		justify-content center

.profile-header__logotype
	margin-y(60px)

.profile-header__topsecret
	margin 48px -64px 0 0

	@media (max-width: $page-max-width)
		margin-right 0

	@media (max-width: 525px)
		display none
