.textarea
	$line = 50px

	sprite($control_line)

	width 100%
	min-height 3 * $line

	margin 10px 0

	background-color transparent
	background-position top 10px 

	border none

	line-height $line

	color #231f20

	font-family Courier New, Courier, monospace
	font-size 30px

	@media (max-width: 726px)
		font-size 22px

	@media (max-width: 425px)
		font-size 18px