$range-base-color = #41261f

.range
	display block

.range__control
	display none

.range__visual
	sprite($control_line)

	background-repeat no-repeat 

	width 100%
	height auto

	margin-top -20px
	padding-top 70px

	justify-content space-between

	display flex

	@media (max-width: $page-max-width)
		flex-wrap wrap
		justify-content flex-start

		background none

		padding-top 0

		margin-top 20px 

.range__visual-option
	font-size 13px
	font-weight bold

	position relative

	color #2f1b15

	cursor pointer

	&::before
		content ''

		height 12px

		border-left 1px solid rgba(65, 38, 31, .3)
		border-right 2px solid $range-base-color

		position absolute
		top -25px

	&::after
		sprite($range_arrow)

		content ''

		position absolute
		top -40px
		left 0

		transform translate(-50%)

		margin-left 2px

		visibility hidden

	&:first-child
	&:last-child
		&::before
			height 20px

	&:last-child
		text-align right

		@media (max-width: $page-max-width)
			text-align left

		&::before
			right -1px

	@media (max-width: $page-max-width)
		padding-y(5px)

		margin-x(5px)

		&::after
		&::before
			display none

	&[data-checked]
	&:hover
		&::after
			visibility visible

		&:last-child::after
			left initial

			right 0

			transform translate(50%)

		@media (max-width: $page-max-width)
			.range__visual-button
				background $range-base-color

				color #fff

.range__visual-button
	border none
	
	background none

	padding 0

	text-align left

	@media (max-width: $page-max-width)
		padding 5px 10px

		border 1px solid $range-base-color

		border-radius 3px

		br
			display none